@keyframes FadeOut {
    from {
        opacity: 1;
        position: relative;
        right: 0px;
    } to {
        opacity: 0;
        position: relative;
        right: 20px;
    }
}

@keyframes FadeOutTop {
    from {
        opacity: 1;
        position: relative;
        bottom: 0px;
    } to {
        opacity: 0;
        position: relative;
        bottom: 20px;
    }
}

@keyframes FadeOutBottom {
    from {
        opacity: 1;
        position: relative;
        top: 0px;
    } to {
        opacity: 0;
        position: relative;
        top: 20px;
    }
}

.fadeOut {
    animation-name: FadeOut;
    animation-duration: 1s;
}

.fadeOutDelay {
    animation-name: FadeOut;
    animation-duration: 1s;
    animation-delay: 0.2s;
}

.fadeOutTop {
    animation-name: FadeOutTop;
    animation-duration: 1s;
}

.fadeOutBottom {
    animation-name: FadeOutBottom;
    animation-duration: 1s;
}